:host {

  width: 100%;
  display: grid;

  button.btn-add {
    margin: 0 auto;
  }

  mat-card.mat-error {
    text-align: center;
  }

  mat-table {

    width: 100%;
    display: inline-table;
    margin-top: 20px;
    padding-top: 20px;

    td mat-icon {

      margin: 15px 0;
    }
  }
}
