<button mat-stroked-button class="btn-add" type="button" color="primary" (click)="this.addItem($event)">Adicionar</button>

<mat-card *ngIf="hasError()" class="mat-error">{{ getError() }}</mat-card>

<mat-table [dataSource]="tableData">

  <ng-container *ngIf="tableData.length > 0">
    <ng-container
      *ngFor="let column of tableColumns"
      matColumnDef="{{ column.name }}"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
      <td mat-cell *matCellDef="let item">{{ item[column.name] }}</td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="actions_column" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <mat-icon (click)="this.dropItem(item.codigo)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>

</mat-table>
