<mat-card class="ecidade-service-card" [routerLink]="routeTo">
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="30px">
            <mat-grid-tile colspan="1" rowspan="2" style="margin-top: -10px;">
                <mat-icon style="font-size: 40px">{{icon}}</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="1">
                <ion-card-title style="color:#fff;">{{title}}</ion-card-title>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1" >
                Total
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1" style="font-size: 20px; font-weight: bold;">
                {{total}}
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="1" style="border-top:1px solid white">
                {{help}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
