<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <input
        #input
        matInput
        formControlName="{{ campo.nome }}"
        id="{{ campo.nome }}"
        name="{{ campo.nome }}"
        required="{{ campo.obrigatorio }}"
        (dateChange)=changeEvent($event.target.value)
        [min]=minDate
        [max]=maxDate
        [matDatepicker]="dataDatepicker"
        [(ngModel)]="value"
    />
    <mat-datepicker-toggle matSuffix [for]="dataDatepicker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #dataDatepicker></mat-datepicker>
    <mat-error *ngIf="hasErrors() && getErrorType() == 'required'" >{{ campo.label }} deve ser informado.</mat-error>
    <mat-error *ngIf="hasErrors() && getErrorType() == 'matDatepickerParse'" >O valor informado deve ser uma data válida.</mat-error>
  </mat-form-field>
</div>
