.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-padding {
    margin-bottom: -1.25em;
}

.centralized {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}
