<h1 mat-dialog-title>{{ title }}</h1>

<mat-divider></mat-divider>

<div class="centralized" *ngIf="!loaded">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>

<mat-dialog-content class="mat-typography" *ngIf="loaded">
    <mat-divider></mat-divider>
    <br>
    <div [ngClass]="'w-100-p flex-box'" *ngFor="let input of inputs">
        <mat-form-field floatLabel="always" appearance="outline" [ngClass]="'w-20-p remove-padding'">
            <mat-label>{{ input.descricao }}</mat-label>
            <input name="{{ input.codigo }}"
                   id="{{ input.codigo }}"
                   matInput
                   pattern="[0-9]*"
                   (change)="add($event, input)"
                   value=" {{ input.value || null }}"
                   valorMonetario
                   tipo="{{ type }}"
              >
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="loaded">
    <mat-divider></mat-divider>
    <button mat-flat-button mat-dialog-close color="primary" (click)="close()">FECHAR</button>
    <button mat-flat-button mat-dialog-close color="primary" (click)="save()">SALVAR</button>
</mat-dialog-actions>
