<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <input
            *ngIf="campo.mascara && campo.mascara != null"
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            [matAutocomplete]="auto"
            [textMask]="maskObject"
            [(ngModel)]="value"
    />
    <input
            *ngIf="!campo.mascara || campo.mascara == null"
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            [matAutocomplete]="auto"
            [(ngModel)]="value"
    />
    <mat-error *ngIf="hasErrors() && isErrorRequired()">{{ campo.label }} deve ser informado.</mat-error>
    <mat-error *ngIf="hasErrors() && isErrorMin()" >O valor para este campo deve ser maior ou igual á: {{ getError().min.min }}</mat-error>
    <mat-error *ngIf="hasErrors() && isErrorObject()" >O valor para este campo deve ser um selecionado da lista.</mat-error>

    <mat-autocomplete #auto="matAutocomplete" (closed)=closeEvent() [displayWith]="displayFn">
      <mat-option *ngFor="let opcao of opcoesFiltradas | async" [value]="opcao">{{ opcao.descricao }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
