<app-page-header [title]="titlePage" [showBackButton]="true" redirectTo="/home/process"
                 [showMenuButton]="true"></app-page-header>

<ion-content>

    <app-no-information [show]="hasProcess === false"></app-no-information>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="'/home/process/info/'+id+'/chat'" [queryParams]="process">
            <mat-icon>question_answer</mat-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card *ngFor="let dispatch of details" class="ion-align-items-center" (click)="setDispatch(dispatch)">
        <ion-item class="ion-align-items-center">
            <ion-label class="ion-align-items-center">
                <div class="ion-align-items-center">
                    <mat-icon>today</mat-icon>
                    <ion-text>{{dispatch.data}} - {{dispatch.hora}}</ion-text>
                </div>
            </ion-label>
            <ion-button fill="none" slot="end">
                <mat-icon aria-hidden="false">search</mat-icon>
            </ion-button>
        </ion-item>
        <ion-card-content *ngIf="dispatch.isShowPreview">
            <ion-text>{{dispatch.textDetail}}</ion-text>
        </ion-card-content>
        <ion-card-content *ngIf="dispatch.isShowComplete">
            <ion-text>{{dispatch.despacho}}</ion-text>
            <ion-accordion-group>
                <ion-accordion value="attachedFiles">
                    <ion-item slot="header" class="font-size-14px">
                        <ion-label>Anexos</ion-label>
                    </ion-item>

                    <ion-list slot="content" class="font-size-14px">
                        <ion-item *ngIf="dispatch.anexos.length === 0">
                            <ion-label class="font-size-14px">Sem arquivos anexados</ion-label>
                        </ion-item>
                        <ion-item *ngFor="let file of dispatch.anexos" (click)="downloadFile(file)">
                            <ion-avatar slot="end" class="align-items-info">
                                <mat-icon aria-hidden="false">download</mat-icon>
                            </ion-avatar>
                                <ion-text class="font-size-14px">{{ file.descricao }}</ion-text>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
            </ion-accordion-group>
        </ion-card-content>
    </ion-card>
</ion-content>
