.text-container {
  position: absolute;
  left: 5px;
}

.container-text-process {
  padding-top: 5px;
}

.font-size-14px {
  font-size: 14px !important;
}

.align-items-info {
  padding-top: 10px;
  margin: 0 auto;
}
