<mat-card class="ecidade-service-card">
  <mat-card-content class="text-center">
    <ion-card-title style="color:#fff;">{{cityName}}</ion-card-title>
    <div><b>Nome:</b> {{userName}}</div>
  </mat-card-content>
</mat-card>
