.detail {
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 4px;
  color: #000000;
}

.payroll-value-column {
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 3px;

  &.gross-value {
    color: green;
  }

  &.discount {
    color: red;
  }

  &.net-value {
    color: darkblue;
  }
}
