<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{titlePage}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goBack()">
        <mat-icon class="white-color">close</mat-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mat-card class="ecidade-card color-primary">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="text-center ion-align-items-center">
          <b>RENDIMENTOS</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let income of incomes" class="detail">
        <ion-col class="text-left">{{income.text}}</ion-col>
        <ion-col class="text-right">{{income.value | number: '1.2-2'}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="text-center ion-align-items-center">
          <b>DESCONTOS</b>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="discounts.length === 0" class="detail">
        <ion-col class="text-center">Sem descontos</ion-col>
      </ion-row>
      <ion-row *ngFor="let discount of discounts" class="detail">
        <ion-col class="text-left">{{discount.text}}</ion-col>
        <ion-col class="text-right">{{discount.value | number: '1.2-2'}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="text-center ion-align-items-center">
          <b>TOTAL</b>
        </ion-col>
        <ion-row class="text-center">
          <ion-col class="payroll-value-column gross-value">
            <span><b>BRUTO</b></span><br>
            <span>{{payrollDetail.values.gross_value | number: '1.2-2'}}</span>
          </ion-col>
          <ion-col class="payroll-value-column discount">
            <span><b>DESCONTO</b></span><br>
            <span>{{payrollDetail.values.discount | number: '1.2-2'}}</span>
          </ion-col>
          <ion-col class="payroll-value-column net-value">
            <span><b>LÍQUIDO</b></span><br>
            <span>{{payrollDetail.values.net_value | number: '1.2-2'}}</span>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </mat-card>
  <mat-card>
    <ion-grid>
      <ion-row>
        <ion-col class="text-center">
          <b>Informações Adicionais</b>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="additionalInformation.length === 0">
        <ion-col class="text-center">Sem informações adicionais</ion-col>
      </ion-row>
      <ion-row *ngFor="let info of additionalInformation">
        <ion-col class="text-left">{{info.text}}</ion-col>
        <ion-col class="text-right">{{info.value | number: '1.2-2'}}</ion-col>
      </ion-row>
    </ion-grid>
  </mat-card>
</ion-content>

<ion-footer>
  <ion-button
          [disabled]="!hasPaycheck()"
          expand="block"
          (click)="download()">Emitir Contra-Cheque</ion-button>
</ion-footer>
