<div>
  <mat-form-field class="w-25-p">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="filter($event)" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="{{ column.name }}" *ngFor="let column of dialog.columns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.label }} </th>
        <td mat-cell *matCellDef="let row" (click)="selected(row)"> {{ row[column.name] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</div>
