:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .w-25-p {
    width: 25%;
  }

  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}
