<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <div *ngIf="campo.mascara && campo.mascara != null">
        <input
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            change=changeEvent($event.value)
            [textMask]="maskObject"
            [(ngModel)]="value"
        />
    </div>
    <div *ngIf="!campo.mascara || campo.mascara == null">
        <input
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            change=changeEvent($event.value)
            [(ngModel)]="value"
        />
    </div>

    <mat-error
        *ngIf="hasErrors() && getError() == 'required'"
    >{{ campo.label }} deve ser informado.</mat-error>

    <mat-error
        *ngIf="hasErrors() && getError() == 'different sizes'"
    >{{ campo.label }} invalido, faltam digitos.</mat-error>

    <mat-error
        *ngIf="hasErrors() && getError() == 'same number'"
    >{{ campo.label }} invalido, mesmo numero digitado.</mat-error>

    <mat-error
        *ngIf="hasErrors() && getError() == 'invalid digit'"
    >{{ campo.label }} invalido, digito invalido.</mat-error>

  </mat-form-field>
</div>
