.pane {
  --background:url(../../assets/background/citylights.jpeg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}

.xc {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
