<ion-content class="pane" padding>
    <div class="xc" >
        <ion-card>
            <ion-card-header>
                <img src="../../assets/logos/ecidade.jpeg"/>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>

                        </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let provider of providers">
                        <ion-col size="12" style="text-align: center">
                            <button mat-raised-button color="primary" class="full-width" (click)="loginIn(provider)">{{provider.provider}}</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" style="text-align: center">
                            <button mat-raised-button

                                    class="full-width ecidade-green-button" [routerLink]="'/first-access'">Primeiro Acesso</button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
