<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <input
            *ngIf="campo.mascara && campo.mascara != null"
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            (change)="changeEvent($event.target['value'])"
            (keyup)="keyupEvent($event)"
            [textMask]="maskObject"
            [(ngModel)]="value"
            valorMonetario
            tipo="{{ campo.tipo }}"
            campo="{{ campo.nome }}"
            casasDecimais="{{ campo.casasDecimais || '2' }}"
            (directiveChangedValue)=atualizaValorControl($event)
    />
    <input
            *ngIf="!campo.mascara || campo.mascara == null"
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            size="{{ campo.tamanho }}"
            maxlength="{{ campo.tamanho }}"
            required="{{ campo.obrigatorio }}"
            (change)="changeEvent($event.target['value'])"
            (keyup)="keyupEvent($event)"
            [(ngModel)]="value"
            valorMonetario
            tipo="{{ campo.tipo }}"
            campo="{{ campo.nome }}"
            casasDecimais="{{ campo.casasDecimais || '2' }}"
            (directiveChangedValue)=atualizaValorControl($event)
    />
    <mat-error *ngIf="hasErrors() && isErrorRequired()" >{{ campo.label }} deve ser informado.</mat-error>
    <mat-error *ngIf="hasErrors() && isErrorMin()" >O valor para este campo deve ser maior ou igual á: {{ getError().min.min }}</mat-error>
  </mat-form-field>
</div>
