:host {
  width: 100%;

  .mat-form-field, input {
    width: 100%;
    cursor: pointer;
  }

  .centralized {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  table {
    width: 100%;
  }

  .w-25-p {
    width: 25%;
  }

  .m-b-20-px {
    margin-bottom: 20px;
  }

  h3 {
   margin-top: 0px;
  }
}
