<div [formGroup]="formGroup">

  <mat-form-field floatLabel="always" appearance="outline" (click)="open()" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <input
        matInput
        readonly="true"
        [value]="descricao"
        required="{{ campo.obrigatorio }}"
        name="{{ campo.nome }}"
        formControlName="{{ campo.nome }}"
        id="{{ campo.nome }}"
        />
    <mat-icon color="primary" matSuffix>list</mat-icon>
    <mat-error *ngIf="hasErrors() && isErrorRequired()" >{{ campo.label }} deve ser informado.</mat-error>
  </mat-form-field>

  <div class="centralized m-b-20-px" *ngIf="buscandoDados">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <h3 *ngIf="dadosCarregados">
    {{ campo.opcoes.onClose.titulo }}
  </h3>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-b-20-px" *ngIf="dadosCarregados">
    <ng-container matColumnDef="{{ coluna.nome }}" *ngFor="let coluna of campo.opcoes.onClose.colunas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ coluna.label }} </th>
      <td mat-cell *matCellDef="let row; let i = index">
        <span *ngIf="coluna.tipo == undefined || coluna.tipo == 'texto'">
          {{ row[coluna.nome] }}
        </span>
        <mat-form-field floatLabel="always" appearance="outline" *ngIf="coluna.tipo && coluna.tipo == 'input'" class="{{ coluna.class }}">
          <input matInput
                 value="{{ row[coluna.nome] }}"
                 [disabled]="row.bloquear || false"
                 (keyup)="changeResponseValue($event, i, coluna.nome); execFunction(coluna)"
                 valorMonetario
                 tipo="{{ coluna.tipoValor }}"
                 >
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
