ion-content.profile {
  --background: rgba(22, 50, 96, .35);
  position: relative;
}
.card {
  margin: 0 auto;

  .header {
    height: 200px;

    ion-avatar {
      width: 160px;
      height: 160px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: calc(-1*(80px + 4px));
        background-color: #fff;
      }
    }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 30px;
  height: calc(100vh - (200px + 56px));
  overflow: hidden;

  .user-meta {
    padding-top: 40px;

    .playername {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .country {
      font-size: 90%;
      color: #949ea6;
      text-transform: uppercase;
      margin: 0 auto;
    }
  }
}
