<app-page-header title="Meu Perfil" [showBackButton]="false" [showMenuButton]="true"></app-page-header>
<ion-content class="ion-page profile">
  <div class="card">
    <div class="header">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
    <div class="card-body">
      <div>
        <ion-col size="9" class="text-left">
          <ion-row>
            <ion-col size="12">
              <b>Nome:</b>
            </ion-col>
            <ion-col size="12">
              {{user?.name}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <b>Email:</b>
            </ion-col>
            <ion-col size="12">
              {{user?.email}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <b>Cpf/Cnpj:</b>
            </ion-col>
            <ion-col size="12 ">
              {{user?.document}}
            </ion-col>
          </ion-row>
        </ion-col>
      </div>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" color="danger" id="open-modal"> Cancelar minha conta</ion-button>
          <ion-button expand="full" color="secondary" (click)="exit()"> logout</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Cancelamento de conta</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
            <h2 class="ion-padding-horizontal">Leia com atenção!</h2>
          <p class="ion-padding-horizontal">
            Você está tentando excluir sua conta do aplicativo e-Cidade, que oferece acesso a vários
            serviços do seu município. <br>
            Não será mais possível usar esses serviços, e sua conta e seus dados serão perdidos.
          </p>
          <ion-item >
            <ion-label class="ion-text-wrap" for="terms">sim, confirmo a exclusão.</ion-label>
            <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss"></ion-checkbox>
          </ion-item>
          <ion-row>
            <ion-col size="12">
              <ion-button expand="full" color="danger" (click)="cancelAccount()"> Confirmar</ion-button>
            <ion-button expand="full" (click)="modal.dismiss()" color="secondary"> Manter a Conta</ion-button>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
