<mat-card>

  <form [formGroup]="form">

    <mat-vertical-stepper linear="true" (selectionChange)="onChangeStep($event)" #stepper style="padding: 1px;">

      <div *ngFor="let secao of this.secoesFormulario; let indSecao=index" >
        <mat-step *ngIf="secao.tipo !== 'anexo'" completed="false" [stepControl]="getFormGroupControl(secao.nome)">
          <ng-template matStepLabel>{{ secao.label }}</ng-template>
          <mat-card class="steps-form" fxLayout="row wrap" fxLayoutGap="10px" >
            <mat-card-content fxFlex="100%">
              <app-campo-dinamico
                *ngFor="let campo of secao.campos; let indCampo=index"
                [secao]="secao" [campo]="campo" [form]="form"
                fxFlex="100%" fxFlex.lt-md="100%" fxFlex.lt-sm="100%"
              ></app-campo-dinamico>
              <app-secao-tabela
                *ngIf="secao.tipo === 'tabela'"
                [secao]="secao" [campos]="secao.campos" [form]="form"
                [cleanedForm]="cleanedForm" [erroTabela]="erroTabelaSecao"
                [tableDataOld]="dadosFormOld[secao.tipo][secao.nome] ? dadosFormOld[secao.tipo][secao.nome] : []"
                (getValues)="getValoresComponenteTabela($event)"
              ></app-secao-tabela>
            </mat-card-content>
            <mat-card-actions fxFlex="100%">
              <button mat-stroked-button color="accent" (click)="this.clear($event)">Limpar</button>
              <button mat-stroked-button type="button" color="primary" (click)="this.previousStep($event)">Voltar</button>
              <button mat-stroked-button type="button" color="primary" (click)="this.nextStep($event)">Avançar</button>

              <button
                *ngIf="(this.secoesFormulario.length - 1) == indSecao"
                mat-stroked-button color="primary" (click)="this.send($event)"
                [disabled]="buttonEnviarDisabled"
              >Enviar</button>
            </mat-card-actions>
          </mat-card>
        </mat-step>

        <mat-step *ngIf="secao.tipo === 'anexo'" completed="false" [stepControl]="getFormGroupControl(secao.nome)">
          <ng-template matStepLabel>Anexos</ng-template>
          <mat-card class="steps-form" fxLayout="row wrap" fxLayoutGap="10px" >
            <mat-card-content fxFlex="100%">
              <app-secao-anexo
                [secao]=secao [campos]="secao.campos" [form]="form" [readonly]="readonly"
                [secoes]="secoesFormulario" [dadosSecoesTabela]="valoresSecaoTabela"
                [cleanedForm]="cleanedForm" [nextStepClick]="nextStepClick"
              ></app-secao-anexo>
            </mat-card-content>

            <mat-card-actions fxFlex="100%">
              <button mat-stroked-button color="accent" (click)="this.clear($event)">Limpar</button>
              <button mat-stroked-button type="button" color="primary" (click)="previousStep($event)">Voltar</button>
              <button mat-stroked-button color="primary" (click)="this.send($event)" [disabled]="buttonEnviarDisabled">Enviar</button>
            </mat-card-actions>
          </mat-card>
        </mat-step>
      </div>

    </mat-vertical-stepper>
  </form>
  <div [hidden]="hideProgressBar">
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  </div>

  <app-error-500 *ngIf="isInternalError"></app-error-500>
</mat-card>
<div style="height: 95px !important;"></div>
