:host {
  min-height: calc(100vh);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  mat-card {
    flex: 1;
    background: white;
    position: relative;
    padding: 0px !important;
    width: 100%;
  }
  .steps-form {
    box-shadow: none;

    mat-card-content {

      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .chip-content {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

  }

  div.stepResultado {

    mat-card {
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          font-size: 18px;
          margin: 18px 0;
          &:last-of-type {
            margin-bottom: 0px;
          }
        }

        .button-container {
          margin: 18px 0;
        }

        .numero {
          font-weight: bold;
          color: teal;
          text-align: center;
          margin: 12px;
          margin-bottom: 0px;
          font-size: 24px;
        }
      }
      fa-icon {
        font-size: 100px;
        position: relative;
        margin: 12px;
        &:after {
          content: '';
          position: absolute;
          border: 5px solid;
          width: 105px;
          height: 105px;
          border-radius: 50%;
          top: -2px;
          left: -8px;
        }
      }

      &.success {
        fa-icon {
          color: teal;
        }
      }

      &.error {
        fa-icon {
          color: darkorange;
        }
      }
    }
  }

  .w-100-p {
    width: 100%;
  }

  .centralized {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
