.ecidade-payroll-card {
  margin: 8px;
  padding: 0 !important;
  border-radius: 3px;
  overflow: auto;
  background-color: #3880ff;
  color: #FFF;
}

.payroll-value-column {
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 3px;

  &.gross-value {
    color: green;
  }

  &.discount {
    color: red;
  }

  &.net-value {
    color: darkblue;
  }
}

.text-registry {
  font-size:14px;
}
