<app-page-header
        title="Folha de Pagamento"
        [showBackButton]="true"
        [showMenuButton]="true"
        redirectTo="/home"
>
</app-page-header>
<ion-content>
    <app-no-information [show]="payrolls.length === 0"></app-no-information>
    <ion-accordion-group>
        <ion-accordion *ngFor="let payroll of payrolls">
            <ion-item slot="header" color="light">
                <ion-label>{{getMonthName(payroll.month)}} / {{payroll.year}} - <span class="text-registry">Matrícula: {{payroll.registry}}</span></ion-label>
            </ion-item>
            <div slot="content">
                <mat-card *ngFor="let payrollData of payroll.items" class="ecidade-payroll-card">
                    <ion-grid (click)="openPayroll(payroll, payrollData)">
                        <ion-row class="text-center">
                            <ion-col size="12">
                                <b>{{payrollData.payroll_type}}</b>
                            </ion-col>
                        </ion-row>
                        <ion-row class="text-center">
                            <ion-col class="payroll-value-column gross-value">
                                <span><b>BRUTO</b></span><br>
                                <span>{{payrollData.values.gross_value | number: '1.2-2'}}</span>
                            </ion-col>
                            <ion-col class="payroll-value-column discount">
                                <span><b>DESCONTO</b></span><br>
                                <span>{{payrollData.values.discount | number: '1.2-2'}}</span>
                            </ion-col>
                            <ion-col class="payroll-value-column net-value">
                                <span><b>LÍQUIDO</b></span><br>
                                <span>{{payrollData.values.net_value | number: '1.2-2'}}</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </mat-card>

            </div>
        </ion-accordion>
    </ion-accordion-group>

</ion-content>
