<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}">
    <mat-label>{{ campo.label }}</mat-label>
    <mat-select formControlName="{{ campo.nome }}" required="{{ campo.obrigatorio }}" (selectionChange)=changeEvent($event.value) [(ngModel)]="codigo" >
        <mat-option *ngFor="let opcao of opcoes" [value]="opcao.codigo || opcao.id">
            {{ opcao.descricao }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="hasErrors() && getError() == 'required'" >{{ campo.label }} deve ser informado.</mat-error>
  </mat-form-field>
</div>
