<ion-header translucent>
    <ion-toolbar>
        <ion-title>Detalhamento</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goBack()">
                <mat-icon class="white-color">close</mat-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <mat-card class="ecidade-card">
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="30px">
                <mat-grid-tile colspan="1" rowspan="1" class="bold title">
                    {{debt.title}}
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1" class="font-size-12px">
                    Vencimento em:<br>
                    {{debt.due_date | date:'dd/MM/yyyy'}}
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <mat-divider></mat-divider>
            <br>

            <mat-grid-list cols="2" rowHeight="30px">
                <div *ngFor="let debtItems of debt.items">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="text-left">{{debtItems.item}}</div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div class="text-right">{{debtItems.value | currency }}</div>
                    </mat-grid-tile>
                </div>

                <mat-grid-tile colspan="1" rowspan="1">
                    <div class="text-right bold title">Total:</div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <div class="text-right bold title">{{debt.total_value | currency }}</div>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <mat-divider></mat-divider>
            <br>
            <div class="padding-divider">
                <button mat-stroked-button
                        color="primary"
                        class="full-width"
                        (click)="requestInstallment()"
                >
                    Solicitar parcelamento
                </button>
            </div>
            <div class="padding-divider">
                <button mat-raised-button
                        color="primary"
                        class="full-width"
                        (click)="copyLine()"
                >
                    Copiar linha digitável
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</ion-content>
