<app-page-header [showBackButton]="true" [showMenuButton]="false" title="Informe os Dados de acesso"></app-page-header>

<ion-content>
<app-solicitacao-atendimento></app-solicitacao-atendimento>
</ion-content>
