:root {
  --ecidade-color-dark-green: #337745;
}

.full-width {
  width: 100%;
}

ion-toolbar{
  --background: var(--ion-color-primary);
}

ion-menu-button, ion-title, ion-back-button {
  color: var(--ion-color-light);
}
.ecidade-service-card {
  margin:8px;
  border-radius: 3px;
  overflow: auto;
  background-color: #3880ff;
  color: #FFF;
}

.ecidade-card {
  margin:8px;
  border-radius: 3px;
  overflow: auto;

  &.color-primary {
    background-color: var(--ion-color-primary);
    color: #FFFFFF;
  }
}

.ecidade-card-green {
  margin:8px;
  border-radius: 3px;
  overflow: auto;
  background-color: #85b1ff;
  color: #FFF;
  ion-card-header {
    color: #ffffff !important;
  }
}
.ecidade-green-button {
  background-color: var(--ecidade-color-dark-green);
  color: white;
}


