.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-left {
  width: 100%;
  justify-content: left;
}

.text-right {
  width: 100%;
  text-align: right;
  justify-content: right;
}

.text-center {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 18px;
}

.font-size-12px {
  font-size: 12px !important;
}

.white-color {
  color: #FFFFFF;
}

.padding-divider {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
