<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Escolha sua cidade</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" *ngFor="let city of cities">
                <mat-card class="ecidade-card" style="padding:8px;">
                    <ion-row>
                    <ion-col size="6">
                       <img [src]="city.image" style="height:110px;"/>
                    </ion-col>
                    <ion-col size="6">
                        <ion-card-title>{{city.name}}</ion-card-title>
                        <ion-card-subtitle>{{city.state.short}}</ion-card-subtitle>
                    </ion-col>
                    </ion-row>
                    <ion-row>
                        <button style="width:100%" mat-flat-button color="primary" *ngIf="!city.has_permission"
                        (click)="gotoCity(city)">Solicitar</button>
                        <button style="width:100%" mat-flat-button class="ecidade-green-button" *ngIf="city.has_permission"
                                (click)="setCity(city)">Selecionar</button>
                    </ion-row>
                </mat-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
