<mat-card class="ecidade-card" (click)="showInfo(processData)">
    <mat-grid-list cols="12" rowHeight="30px">
        <mat-grid-tile colspan="1">
            <div class="text-content">
                <mat-icon aria-hidden="false">support_agent</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class="text-container">
                Atendimento:
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7">
            <ion-text class="text-container" *ngIf="type == 1">
                {{ code }}/{{ year }}
            </ion-text>
            <ion-text class="text-container" *ngIf="type !== 1">
                -
            </ion-text>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" *ngIf="process_number != ''">
            <div class="text-content">
                <mat-icon aria-hidden="false">receipt_long</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class="text-container">
                Processo:
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7" *ngIf="process_number != ''">
            <ion-text class="text-container">
                {{ process_number }}/{{ year }}
            </ion-text>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="text-content">
                <mat-icon aria-hidden="false">today</mat-icon>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class="text-container">
                Data:
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7">
            <ion-text class="text-container">
                {{date}}
            </ion-text>
        </mat-grid-tile>

        <mat-grid-tile colspan="1">
            <div class="text-container">
                <mat-icon aria-hidden="false">window</mat-icon>
            </div>

        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class="text-container">
                Assunto:
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="7">
            <ion-text class="text-container">
                {{ title }}
            </ion-text>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card>
