.text-container {
  justify-content: left !important;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.text-content{
  justify-content: left !important;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.mat-grid-tile-content {
  justify-content: left !important;

}
