<ion-progress-bar *ngIf="hasRequest" type="indeterminate" color="danger" style="z-index: 99999"></ion-progress-bar>
<ion-app>
    <ion-split-pane contentId="main-content">
            <ion-menu contentId="main-content"  *ngIf="isLoggedIn()" menuId="main">
            <ion-content>
                <ion-list id="person-header">
                    <ion-item style="background: transparent !important;">
                        <ion-avatar slot="start">
                            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                        </ion-avatar>
                        <ion-label>
                            <h3>{{user.name}}</h3>
                            <p>({{city}})</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <ion-list id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index"
                                     style="background-color: blue">
                        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                  routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-item lines="none" detail="false" (click)="exit()">
                        <ion-icon slot="start" name="exit"></ion-icon>
                        <ion-label>Sair</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
