<div class="centralized" *ngIf="!dadosCarregados">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div>
  <mat-form-field class="w-25-p">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="filtrar($event)" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="{{ coluna.nome }}" *ngFor="let coluna of data.opcoes.onOpen.colunas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ coluna.label }} </th>
        <td mat-cell *matCellDef="let row" (click)="selecionar(row)"> {{ row[coluna.nome] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</div>
