:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .w-25-p {
    width: 25%;
  }

  .centralized {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  tr:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}
