<app-page-header [showBackButton]="true" [showMenuButton]="false" title="Preencha os dados"></app-page-header>

<ion-content>
  <app-solicitacao-atendimento></app-solicitacao-atendimento>
</ion-content>
