<app-page-header title="Meus Processos" [showBackButton]="true" redirectTo="/home" [showMenuButton]="true"></app-page-header>


<ion-content>

    <app-no-information [show]="hasProcess === false"></app-no-information>

    <app-card-process *ngFor="let theProcess of process"
        [processData]="theProcess"
    ></app-card-process>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button color="secondary" (click)="newProcess()">
            <mat-icon>add</mat-icon>
            Novo Processo
        </ion-button>
    </ion-fab>
</ion-content>
