<ion-header [translucent]="true" >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="showMenuButton === true"></ion-menu-button>
      <ion-back-button *ngIf="showBackButton === true" defaultHref="{{redirectTo}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
