.white-color {
  color: white;
}

.size-icon {
  font-size:18px;
}

.is_user {
  background-color: var(--ion-color-secondary);
  margin-left: 70px;
  border-radius: 20px 20px 0 20px;
}

.is_admin {
  background-color: var(--ion-color-primary);
  margin-right: 70px;
  border-radius: 20px 20px 20px 0;
}

.chat {

  &.background-color-white {
    background-color: #FFF !important;
    width: 95%;
    margin-left: 10px !important;
    border-radius: 5px;
  }
}
