<app-page-header title="Mensagens" [showBackButton]="true" redirectTo="/home/process"
                 [showMenuButton]="false"></app-page-header>

<ion-content #content fullscreen>
    <app-no-information *ngIf="messages.length === 0" description="Sem mensagens."></app-no-information>

    <ion-card *ngFor="let message of messages" [className]="message.is_user ? 'is_user' : 'is_admin'">
        <ion-card-header class="white-color">
            <p>
                <ion-icon name="calendar"></ion-icon>
                {{message.date + ' - ' + message.hour}}
                <span *ngIf="message.attachments.length > 0">
                    <ion-icon name="attach" class="size-icon"></ion-icon>
                </span>
            </p>
            <p>{{message.text}}</p>
            <ion-button *ngIf="message.attachments.length > 0"
                        size="small"
                        color="light"
                        expand="block"
                        (click)="downloadAttachment(message.attachments)"
            >
                <mat-icon slot="end">download</mat-icon>
                Baixar anexo
            </ion-button>
        </ion-card-header>
    </ion-card>
    <div id="divSpacer" style="padding-top: 50px"></div>

</ion-content>
<ion-footer>
    <form [formGroup]="formGroupChat">
    <ion-toolbar>
        <ion-input [formControl]="messageUser" class="chat background-color-white" placeholder="Digite sua mensagem..."></ion-input>
        <ion-buttons slot="end">
            <ion-button id="sendMessage" class="white-color" (click)="sendMessage()">
                <ion-icon slot="start" name="send-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    </form>
</ion-footer>
