<app-page-header title="Nova Solicitação" [showBackButton]="true" redirectTo="/home/process"
                 [showMenuButton]="true"></app-page-header>

<ion-content>
    <ion-accordion-group>
        <ion-accordion *ngFor="let type of types" toggle-icon="arrow-down-circle" class="ecidade-instituicao">
            <ion-item slot="header" class="ecidade-instituicao">
                <ion-label>{{type.nome}}</ion-label>
            </ion-item>
            <ion-list slot="content" *ngFor="let process of type.children">
                <ion-item *ngIf="!process.children">
                    <ion-label class="item">{{process.nome}}
                        <ion-icon name="help-circle"
                                  (click)="showHelp(process.linksaibamais)"></ion-icon>
                    </ion-label>
                    <ion-icon name="chevron-forward" slot="end" (click)="gotToProcess(process)" detail>

                    </ion-icon>
                </ion-item>
                <ion-accordion-group *ngIf="process.children">
                    <ion-accordion toggle-icon="arrow-down-circle" class="ecidade-instituicao-subitem">
                        <ion-item slot="header" class="ecidade-instituicao-subitem">
                            <ion-label class="item">{{process.nome}}</ion-label>
                        </ion-item>
                        <ion-list slot="content" *ngFor="let childrenProcess of process.children">
                            <ion-item>
                                <ion-label class="item">{{childrenProcess.nome}}
                                    <ion-icon name="help-circle"
                                              (click)="showHelp(childrenProcess.linksaibamais)"></ion-icon>
                                </ion-label>
                                <ion-icon name="chevron-forward" slot="end" (click)="gotToProcess(childrenProcess)"
                                          detail>

                                </ion-icon>
                            </ion-item>
                        </ion-list>
                    </ion-accordion>
                </ion-accordion-group>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>


</ion-content>
