ion-item.ecidade-instituicao,  {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
}

ion-item.ecidade-instituicao-subitem,  {
  --background: var(--ion-color-secondary-light);
  --color: var(--ion-color-light);
}

ion-label.item {
  --padding-start: 8px;
  font-size: 0.90em;
}


