<div [formGroup]="formGroup">
  <mat-form-field appearance="outline" formGroupName="{{ nomeSecao }}" class="w-100-p">
    <mat-label>{{ campo.label }}</mat-label>
    <textarea
            matInput
            formControlName="{{ campo.nome }}"
            id="{{ campo.nome }}"
            name="{{ campo.nome }}"
            required="{{ campo.obrigatorio }}"
            (change)="changeEvent($event.target['value'])"
            [(ngModel)]="value"
    ></textarea>
    <mat-error *ngIf="hasErrors() && isErrorRequired()" >{{ campo.label }} deve ser informado.</mat-error>
    <mat-error *ngIf="hasErrors() && isErrorMin()" >O valor para este campo deve ser maior ou igual á: {{ getError().min.min }}</mat-error>
  </mat-form-field>
</div>
