<app-page-header title="Início" [showBackButton]="false" [showMenuButton]="true"></app-page-header>

<ion-content>
    <div class="space-top"></div>
    <app-logged-in></app-logged-in>

    <app-card-services *ngFor="let dashboard of dashboards"
            [title]="dashboard.title"
            [icon]="dashboard.icon"
            [total]="dashboard.total"
            [help]="dashboard.help"
            [routeTo]="dashboard.route"
    >
    </app-card-services>
    <div class="space-bottom"></div>
</ion-content>
