<app-page-header [showBackButton]="true" [showMenuButton]="false" title="Solicitar acesso em {{city.name}}"
                 redirectTo="/city-list"></app-page-header>

<ion-content style="background-color: #c4c4c4 !important;">
    <ion-grid>
        <ion-row>
            <ion-col size="12" *ngFor="let type of firstAccessTypes">
                <ion-card class="ecidade-card-green">
                    <ion-card-header >
                        <h4>{{type.process.name}}</h4>
                    </ion-card-header>
                    <ion-card-content>
                        <button style="width:100%" mat-flat-button color="primary"
                                (click)="openForm(type)">Começar</button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
