<app-page-header
        title="Débitos em Aberto"
        [showBackButton]="true"
        [showMenuButton]="true"
        redirectTo="/home"
>
</app-page-header>

<ion-content>
    <mat-card class="ecidade-card ion-text-center" *ngIf="debts.length > 0">
        <mat-card-title class="bold">{{totalDebts | currency}}</mat-card-title>
        <mat-card-content>
            <ion-text>Disponível para pagamento</ion-text>
        </mat-card-content>
    </mat-card>

    <app-no-information [show]="debts.length === 0"></app-no-information>

    <mat-card class="ecidade-card" *ngFor="let debt of debts">
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight="30px">
                <mat-grid-tile colspan="2" class="bold title">
                    <div class="text-left">{{debt.title}}</div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1" class="bold title">
                    {{debt.total_value | currency}}
                </mat-grid-tile>
                <mat-grid-tile colspan="3" class="font-size-12px">
                    <div class="text-left">Vencimento: {{ debt.due_date | date:'dd/MM/yyyy' }}</div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <br>
            <mat-grid-list cols="4" rowHeight="30px">
                <mat-grid-tile colspan="3" class="font-size-12px" (click)="copyLine(debt)">
                    <div class="text-left">{{ debt.digitable_line }}</div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1" class="font-size-12px" (click)="copyLine(debt)">
                    <mat-icon>content_copy</mat-icon>
                </mat-grid-tile>

                <mat-grid-tile colspan="3" class="font-size-12px" (click)="openDetails(debt)">
                    <div class="text-left">Ver detalhamento do débito:</div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1" class="font-size-12px" (click)="openDetails(debt)">
                    <mat-icon>description</mat-icon>
                </mat-grid-tile>
            </mat-grid-list>

            <ion-accordion-group *ngIf="debt.details.length > 0">
                <ion-accordion value="debtDetails">
                    <ion-item slot="header" class="font-size-12px">
                        <ion-label>Mais informações</ion-label>
                    </ion-item>
                    <ion-list slot="content">
                        <ion-item *ngFor="let detail of debt.details" class="font-size-12px">
                            {{ detail.item }}: {{ detail.value }}
                        </ion-item>
                    </ion-list>
                </ion-accordion>
            </ion-accordion-group>
        </mat-card-content>
    </mat-card>
</ion-content>
