<app-campos-texto
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'string' || this.campo.tipo == 'texto'
      || this.campo.tipo == 'email' || this.campo.tipo == 'cpfCnpj' || this.campo.tipo == 'cep'"
  [value] = "value"
></app-campos-texto>
<app-campos-data
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'data'"
  [value] = "value"
></app-campos-data>
<app-campos-lista
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  [informacoesCampoDinamico$]="informacoesCompartilhadas.asObservable()"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'lista' || this.campo.tipo == 'lista_dinamica'"
  [value]="value"
></app-campos-lista>
<app-campos-autocomplete
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  [informacoesCampoDinamico$]="informacoesCompartilhadas.asObservable()"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'autocomplete'"
  [value]="value"
></app-campos-autocomplete>
<app-campos-cpf-cnpj
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'cpf' || this.campo.tipo == 'cnpj'"
></app-campos-cpf-cnpj>
<app-input-dialog
  *ngIf="this.campo.tipo == 'dialog'"
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
></app-input-dialog>
<app-inteiro
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'inteiro' || this.campo.tipo == 'monetario' || this.campo.tipo == 'numerico'"
  [value] = "value"
></app-inteiro>
<app-textarea
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
  (changedValue)=changeChild($event)
  *ngIf="this.campo.tipo == 'textarea'"
  [value] = "value"
></app-textarea>
<app-button-dialog-input
  *ngIf="this.campo.tipo == 'button-dialog'"
  [nomeSecao]="this.secao.nome" [campo]="this.campo" [formGroup]="this.form"
></app-button-dialog-input>
