<mat-form-field appearance="outline" >
  <mat-label>{{ campo.label }}</mat-label>
  <mat-chip-list [disabled]="!this.enabled()" #listaArquivos aria-label="Anexos">
    <mat-chip 
      *ngFor="let arquivo of this.arquivos" 
      selectable="false" 
      removable="true" 
      (removed)="removerArquivo(arquivo)"
    >
      <div class="chip-content">{{ arquivo.descricao }}</div>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input readonly
           placeholder="Novo anexo"
           [matChipInputFor]="listaArquivos"
           (click)="dispatchClick(fileSelector)" [disabled]="!this.enabled()"
    />
    <input #fileSelector
           hidden
           type="file"
           class="file-selector"
           multiple
           (change)="adicionarArquivo(fileSelector)"
    />
  </mat-chip-list>
  <mat-error *ngIf="hasErrors() && isErrorRequired()">{{ campo.label }} deve ser informado.</mat-error>
</mat-form-field>