<app-page-header [showBackButton]="true" [showMenuButton]="false" title="Primeiro Acesso" redirectTo="/"></app-page-header>

<ion-content class="mt-20">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome:</mat-label>
          <input matInput placeholder="" value="" [formControl]="name" required>
          <mat-error *ngIf="name.hasError('required')"> O nome deve ser informado.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail:</mat-label>
          <input matInput placeholder="" value="" [formControl]="email" required>
          <mat-error *ngIf="email.hasError('required')"> O email deve ser informado.</mat-error>
          <mat-error *ngIf="email.hasError('email')"> O email deve ser um email válido.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>CPF / CNPJ:</mat-label>
          <input matInput type="text" placeholder="" value="" maxlength="14" [formControl]="document" required>
          <mat-error *ngIf="document.hasError('required')"> O Cpf/Cnpj deve ser informado.</mat-error>
          <mat-error *ngIf="document.hasError('digit')"> O Cpf/Cnpj deve ser válido.</mat-error>
          <mat-error *ngIf="document.hasError('length')"> O Cpf/Cnpj deve ter 11 ou 14 digitos.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha:</mat-label>
          <input matInput type="password" placeholder="" value="" [formControl]="password" required>
          <mat-error *ngIf="password.hasError('required')"> A Senha deve ser informada.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirmar a senha:</mat-label>
          <input matInput type="password" placeholder="" value="" [formControl]="repassword" required>
          <mat-error *ngIf="repassword.hasError('required')"> A confirmação da senha deve ser informada.</mat-error>
        </mat-form-field>
        <ion-row>
          <button mat-raised-button color="primary" class="full-width" (click)="save()">Cadastrar</button>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
